[user]
	name = Solarex
	email = rh.hou.work@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/houruhou/._gitignore
	editor = vim
	quotepath = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	gitproxy = /Users/houruhou/.gitproxy
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool]
	prompt = false
[grep]
	lineNumber = true
	extendRegexp = true
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[remote "origin"]
	push = HEAD
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff-so-fancy]
	stripLeadingSymbols = false
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	template = /Users/houruhou/.gitcommit
[http "https://github.com"]
	proxy = http://127.0.0.1:7890
	sslVerify = false
[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # Pretty log output
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  co = checkout
  st = status
  br = branch
  bra = branch -a
  brd = branch -D
  ci = commit
  dt = difftool
	g = grep --break --heading --line-number

[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
  remote = origin
  merge = refs/heads/master
